@{
    ViewData["Title"] = "Livro";
}

<h2>HBSIS: Experiência para aumentar sua produtividade.</h2>

<p style="text-align:justify">
	Desenvolver conhecimento e tecnologia que transformam, facilitam e agilizam a vida de empresas e pessoas. Somos a <strong>HBSIS</strong>.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_H2KFWSbrzQ?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen></iframe>
